.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainLoaderContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.percentage{
    opacity: 25%;
    z-index: -100;
    transform: scale(1);
}

.bar{
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 10px;
    border-radius: 5px;
    z-index: 100;
}

.zoom{
    animation: 1 forwards zoom ease-out 3s;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(50);
    }
}

/* Extra large devices (xl) */
@media (min-width: 1200px) {
    .percentage{
        font-size: 200px !important;
    }
}

/* Large devices (lg) */
@media (max-width: 1199px) and (min-width: 992px) {
    .percentage{
        font-size: 175px !important;
    }
}

/* Medium devices (md) */
@media (max-width: 991px) and (min-width: 768px) {
    .percentage{
        font-size: 150px !important;
    }
}

/* Small devices (sm) */
@media (max-width: 767px) and (min-width: 577px) {
    .percentage{
        font-size: 125px !important;
    }
}

/* Extra Small devices (sm) */
@media (max-width: 576px) {
    .percentage{
        font-size: 100px !important;
    }
}